.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    padding: 5rem 0.625rem;

    background-color: var(--gray-700);
}

.logo{
    animation: slideDownImage 1.5s ease forwards;
}


@keyframes slideDownImage {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

}