.container{
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: space-between;

    animation: slideDown 1.8s ease forwards;
}

.container aside {
    display: flex;
    align-tems: center;
    gap: 0.5rem;

    font-weight: bold;
}

.container aside:first-child {
    color: var(--blue);
}

.container aside:last-child {
    color: var(--purple);
}

.container aside p {
    font-size: 0.875rem;
}

.container aside span {
    padding: 2px 8px;
    border-radius: 16px;

    font-size: 0.75rem;

    color: var(--gray-200);
    background-color: var(--gray-400);
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    -100% {
        transform: translateY(0);
        opacity: 1;
    }
}
